/* Estilo para eliminar el borde azul del desplegable cuando está en foco */
.custom-popover:focus {
    outline: none !important;
    outline-color: transparent;
    outline-style: none;
    box-shadow: none !important;
  }
.custom-popover{
    outline: none;
    box-shadow: unset;
    }

.custom-icon {
  stroke-width: 0.2; /* Ejemplo: reducir el ancho de las líneas del icono */
}