
.customButton {
  position: relative;
  font-weight: normal;
  text-decoration: none;
}

.customButton:hover::before {
  content: '';
  position: absolute;
  width: 40%; /* Ajusta el porcentaje para centrar la línea */
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 25%; /* Ajusta el porcentaje para centrar la línea */
  transform-origin: center;
  animation: underline 0.3s ease forwards;
}

@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
  
  .menuDrawerButton {
    font-size: 1rem;
    width: 96%;
    display: flex;
    justify-content: space-between;
  }
  
  .menuDrawerButton:hover {
    transform: translate(5px, -5px); /* Desplaza el texto hacia arriba a la derecha */
    font-size: 1.1rem; /* Aumenta el tamaño de la fuente */
  }
  